
    <div class="main_picture">
        <img class="img-circle m-l-md" src="images/1.jpg" width="85" height="85" alt="Nickname" />
    </div>
    <div class="profile_menu">
        <ul style="float:left; text-align:left;">
            <li style=""><a href="">Мои объявления</a></li>
            <li><a href="" ng-if="testIf">Архив объявлений</a></li>
            <li><a href="">Мои подписчики</a></li>
            <li><a ng-click="test()">Настройки</a></li>
            <li><a ng-click="exit()">Выйти</a></li>
        </ul>
    </div>

    <div id="footer">


    </div>

