<div infinite-scroll="contents.NextPage()" infinite-scroll-distance="540"></div>
    <ul class="gallery-ads-vip">
            <li class="ads" ng-repeat="content in contents.items">
                <div class="post" ng-click="AddtoSelected(content.Announcing_id)">
                    <div class="text-center">
                            <img class="img-rounded m-l-5" src="images/1.jpg" width="128" height="128" />
                    </div>
                        <div class="row text-center">
                            <div class="small m-b-xs">
                                <h4 style="margin: 5px !important">
                                    {{content.UserName}} {{content.UserLastName}}
                                </h4>
                            </div>
                            <span class="bg-info">{{ content.JsonDate_Announcing }}</span>
                            <div class="ads-text-container">
                                {{content.Info_Announcing}}
                            </div>
                        </div>
                </div>
            </li>
    </ul>
    <div ng-click="contents.LoadMore()" ng-show='contents.busy'>Загрузить больше</div>
