<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html ng-app="appModule" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://use.fontawesome.com/7410a5ef10.js"></script>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/animate.css" rel="stylesheet" />
    <link href="~/Content/style.css" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <title>Searching</title>
    @Styles.Render("~/bundles/css")
</head>
<body ng-controller="StartController">
    <!-- Start Header -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div class="branding">
                    <ul nav=nav navbar-nav=navbar-nav class="list-inline" style="margin-bottom:0px;">
                        <li><a href="/search/"><img class="nav-logo" src="~/images/logo.png" /></a></li>
                    </ul>
                </div>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav navbar-right">
                    <li ng-cloak=ng-cloak ng-if="authUser"><a class="nav-img-item" ui-sref="Messages"><i class="fa fa-envelope navigation-icon fa-2x"></i></a></li>
                    <li ng-cloak=ng-cloak ng-if="authUser"><a class="nav-img-item" ui-sref="Messages"><i class="fa fa-flag navigation-icon fa-2x"></i></a></li>
                    <li class="active" ng-cloak=ng-cloak ng-if="!authUser"><a class="nav-img-item" ui-sref="stateProfile" style=""><i class="fa fa-sign-in fa-2x"></i></a></li>
                    <li class="dropdown" ng-cloak=ng-cloak ng-if="authUser">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                            <div class="text-uppercase">
                                <img class="img-circle navbar-img" src="images/1.jpg" width="50" height="50" style="padding:5px;" />
                                <b class="nav-profile-item">{{user.Name}} {{user.LastName}} <i class="fa fa-mouse-pointer"></i></b>
                            </div>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="/Profile"><i class="fa fa-btn fa-user"></i> Панель управления</a></li>
                            <li><a ng-click="exit()" href="/"><i class="fa fa-btn fa-sign-out"></i> Выход</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- End Header -->
    <div class="sidebar content">
        <div class="dropdown-sb">
            <span class="label" style="margin-left:35px">Поиск</span>
            <button class="dropbtn"><a ng-click="Clear()" ui-sref="home"><i class="fa fa-search fa-2x drop-icon"></i></a></button>
        </div>
        <br />
        <div class="dropdown-sb">
            <span class="label" style="margin-left:8px">Уведомления</span>
            <button class="dropbtn"><a ng-click="Clear()"><i class="fa fa-bell fa-2x drop-icon"></i></a></button>
        </div>
        <br />
        <div class="dropdown-sb">
            <span class="label" style="margin-left:13px">Сообщения</span>
            <button class="dropbtn"><a ng-click="Clear()"><i class="fa fa-envelope fa-2x drop-icon"></i></a></button>
            <div class="dropdown-content">
                <a href="#">Присланные</a>
                <a href="#">Отправленные</a>
                <a href="#">История</a>
            </div>
        </div>
    </div>
    <div class="content" style="margin-top:50px;">
        <div ui-view="ContentContainer"></div>
    </div>
    <div class="footer">
        <div class="container-fluid text-right">
            <strong>Copyright</strong> Llimpint &copy; 2016</strong>
        </div>
    </div>

    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.15/angular.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.10/angular-ui-router.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.10.0/ui-bootstrap-tpls.min.js"></script>
    <script src="https://code.angularjs.org/1.3.0-rc.2/angular-messages.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-local-storage/0.2.7/angular-local-storage.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular-cookies.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.5/angular-route.min.js"></script>
    @Scripts.Render("~/bundles/logic")
</body>
</html>