.gray-bg {
    background-color:darkgrey;
}
.navbar {
    margin-bottom: 0px;
}
body {
    background-color: #edeef0;
}
.well {
    background-color: #ffffff;
    padding: 5px;
    margin: 10px;
}

.big-icon {
  font-size: 160px !important;
  color: #e5e6e7; 
}
